* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
body {
	background-color: black;
}
p {
	font-family: 'Roboto', sans-serif;
	color: white;
}
h1 {
	font-family: 'Comfortaa', cursive;
	text-align: center;
	color: #fc6a03;
}
#by {
	font-family: 'Comfortaa', cursive;
	font-size: 2rem;
	text-align: center;
	color: #FFA500;
}
#web-dev {
	font-family: 'Permanent Marker', cursive;
}

nav {
	font-family: 'Comfortaa', cursive;
	background-color: #FFA500;
	/*background-color: #fc6a03;*/ 
}
#about-me {
	/*background-color: black;*/
}
/*#about-me-text {
	background-color: #e7d4c0;
}*/
/*#about-me-img{
	background-color: #e7d4c0;
}*/


#about-me-section {
	font-family: 'Permanent Marker', cursive;
}

.apply-button {
	color: black;
	font-family: 'Comfortaa', cursive;
	font-weight: bold;
	background-color: #FFA500;
	padding: 0.75rem 2rem;
	font-size: 1rem;
	border: 0;
	border-radius: 25px;

}

#exp {
	color: black;
	font-family: 'Comfortaa', cursive;
	font-weight: bold;
	font-size: 1rem;
	float: left;
}









#project-title {
	color: #fc6a03;
	font-family: 'Comfortaa', cursive;
	text-align: center;
}


.carousel-inner img {
  margin: auto;
}





#contact-bg {
	background-color: black
}
#contact-card {
	background-color: #D74826;
}
#send-email-btn {
	background-color: #FFA500;
}