* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
body {
	background-color: black;
}
p {
	font-family: 'Roboto', sans-serif;
	color: white;
}
/*dark orange hex*/
h1 {
	font-family: 'Comfortaa', cursive;
	text-align: center;
	color: #fc6a03;
}
#by {
	font-family: 'Comfortaa', cursive;
	font-weight: bolder;
	font-size: 2rem;
	text-align: center;
	color: #FFA500;
}
#web-dev, #web-dev-1 {
	font-family: 'Permanent Marker', cursive;
	/*font-family: 'Just Another Hand', cursive;*/
	font-size: 3.5rem;
	/*font-size: 5rem;*/
}


nav {
	font-family: 'Comfortaa', cursive;
	background-color: darkgray;
	/*background-color: #fc6a03;*/ 
}

.intro-description {
	padding-top: 1rem;
    padding-left: 25%;
    padding-right: 25%;
}
.background {
	min-height: 40rem;
/*	background-color: gray;*/
	background-image: url(./projects-bg.gif);
	background-repeat: no-repeat;
	/*repeat, no-repeat, repear-x, repeat-y, space, round*/
	background-size: 100%;
	/*auto, contain, cover, 100%, px*/
/*	background-position: 10% 40%;
	/*10% 40%*/*/
	background-position: center;
	background-attachment: fixed;
	/*overflow: scroll;*/
	/*scroll, fixed*/
}

.container-bg {
/*	background-color: rgba(0,0,0,0.5);
	background-color: rgba(239,183,61);*/
	min-height: 100vh;
}







#about-me {
	/*background-color: black;*/
}
/*#about-me-text {
	background-color: #e7d4c0;
}*/
/*#about-me-img{
	background-color: #e7d4c0;
}*/


#about-me-section {
	font-family: 'Permanent Marker', cursive;

/*	font-family: 'Just Another Hand', cursive;
	font-size: 5rem;*/

}

.apply-button, #bounce {
	color: black;
	font-family: 'Comfortaa', cursive;
	font-weight: bold;
	background-color: #FFA500;
	padding: 0.75rem 2rem;
	font-size: 1rem;
	border: 0;
	border-radius: 25px;

}

#exp {
	color: black;
	font-family: 'Comfortaa', cursive;
	font-weight: bolder;
	font-size: 1.5rem;
	float: left;
	color: #FFA500;
}

#resume {
	text-align: left;
}
#job {
	font-family: 'Outfit', sans-serif;
	font-weight: bold;
	font-size: 1.20rem;
}
#name {
	font-family: 'Permanent Marker', cursive;
	/*font-family: 'Just Another Hand', cursive;*/
	color: #FFA500;
	font-weight: bolder;
	font-size: 1.5rem;
	/*font-size: 2.5rem;*/
}

#job-title, h5 {
	font-family: 'Comfortaa', cursive;
	font-weight: bolder;
	font-size: 0.80rem;
}





#bg-2 {
	min-height: 40rem;
/*	background-color: gray;*/
	background-image: url(./projects-bg.gif);
	background-repeat: no-repeat;
	/*repeat, no-repeat, repear-x, repeat-y, space, round*/
	background-size: 100%;
	/*auto, contain, cover, 100%, px*/
/*	background-position: 10% 40%;
	/*10% 40%*/*/
	background-position: center;
	background-attachment:scroll;
	/*scroll, fixed*/
	/*overflow: scroll;*/
}


#projects-bg {
	background-image: background-image: url(./projects-bg.gif);
	min-height: 40rem;
/*	background-color: gray;*/
	background-image: url(./projects-bg.gif);
	background-repeat: no-repeat;
	/*repeat, no-repeat, repear-x, repeat-y, space, round*/
	background-size: 100%;
	/*auto, contain, cover, 100%, px*/
/*	background-position: 10% 40%;
	/*10% 40%*/*/
	background-position: center;
	background-attachment:scroll;
	/*scroll, fixed*/
	/*overflow: scroll;*/
}

#project-title {
	color: white;
	font-family: 'Permanent Marker', cursive;
	font-size: 3rem;
	text-align: center;
}

#project-title-2 {
	color: #fc6a03;
	font-family: 'Permanent Marker', cursive;
	font-size: 3rem;
	text-align: center;
}



.carousel-inner img {
  margin: auto;
}



#contact-text {
	font-family: 'Permanent Marker', cursive;
}

#contact-card {
	font-family: 'Comfortaa', cursive;
	font-weight: bold;
	background-color: white;
	color: #fc6a03;
}
#send-email-btn {
	background-color: #FFA500;
	border-radius: 20px;
}
#close {
	background-color: #FFA500;
}
#pre-footer div {
	display: inline-block;
	vertical-align: bottom;
	padding: 1rem 5%  2rem;
}
#pre-footer {
	font-family: 'Comfortaa', cursive;
	font-weight: bold;
    color: white;
    font-size: 1rem;
}
#pre-footer p {
	margin-bottom: 0.25rem;
	text-align: left;
}







